/* 1) сначала подключаем готовую тему Filament */
@import "/vendor/filament/filament/resources/css/theme.css";

/* 2) ничего НЕ импортируем из плагинов! (Curator сам подключится через filament:assets) */
/* 3) только свои небольшие правки */
.curator-picker img{
    max-height: 220px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
